<form class="card">
    <div class="card-header bg-secondary text-white">
        <h5 class="mb-0"><i class="fas fa-users fa-lg mr-2"></i>Usuários</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="txtName">Nome<span class="ml-2 text-danger">*</span></label>
                    <input id="txtName" class="form-control" type="text" maxlength="100">
                </div>
            </div>
            <div class="col-12 col-sm-2 col-md-3 col-lg-2">
                <div class="form-group">
                    <label for="txtSSA">CPF<span class="ml-2 text-danger">*</span></label>
                    <input id="txtSSA" class="form-control" type="text" placeholder="000.000.000-00">
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="txtEmail">E-mail<span class="ml-2 text-danger">*</span></label>
                    <input id="txtEmail" class="form-control" type="text" maxlength="100">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 col-md-4 col-lg-2">
                <div class="form-group">
                    <label for="selUserRole">Papel usuário<span class="ml-2 text-danger">*</span></label>
                    <select id="selUserRole" class="form-control"></select>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-7 col-lg-6">
                <div class="form-group">
                    <label for="selcompany">Empresa<span class="ml-2 text-danger">*</span></label>
                    <select id="selcompany" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2 col-md-3 col-lg-2">
                <div class="form-group">
                    <label for="txtTelephone">Telefone<span class="ml-2 text-danger">*</span></label>
                    <input id="txtTelephone" class="form-control" type="text" placeholder="(00) 000000000">
                </div>
            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="txtTelephoneExtension">Ramal</label>
                    <input id="txtTelephoneExtension" class="form-control" type="text" maxlength="9">
                </div>
            </div>
            <div class="col-12 col-sm-2 col-md-3 col-lg-3">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="chkActive" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="chkActive">Ativo</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="chkPending" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="chkPending">Pendente</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="chkBlocked" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="chkBlocked">Bloqueado</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 col-md-4 col-lg-2">
                <div class="form-group">
                    <label for="txtLogin">Login<span class="ml-2 text-danger">*</span></label>
                    <input id="txtLogin" class="form-control" type="text" autocomplete="off" maxlength="20">
                </div>
            </div>
            <div class="col-12 col-sm-3 col-md-4 col-lg-2">
                <div class="form-group">
                    <label for="txtPassword">Senha<span class="ml-2 text-danger">*</span></label>
                    <div class="input-group">
                        <input id="txtPassword" class="form-control" type="password" autocomplete="off" maxlength="100">
                        <div class="input-group-append">
                            <button id="btnSeePassword" class="btn btn-secondary" type="button" see="false"
                                style="width: 50px;">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <button id="btnCancel" class="btn btn-outline-secondary" type="button" [routerLink]="'/user-list'">Cancelar</button>
                <button id="btnSave" class="btn btn-success ml-2" type="button" (click)="save()">Salvar</button>
            </div>
        </div>
    </div>
</form>